.searchbar-wrapper {
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
  }
  
  nav img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    align-self: center;
  }
  
  .img-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: flex-start;
  }
  
  .nav {
    width: 33.33%;
    display: flex;
    flex-direction: row;
  }
  
  .nav .icons {
    justify-content: center;
  }
  
  button {
    padding: 10px 100px;
    background-color: rgba(225, 255, 255, .4);
    border-radius: 3px;
  }
  
  .fa {
    padding-right: 7px;
  }